[Unit]
Description=SoftEther VPN Client
After=network.target

[Service]
ExecStart=/usr/local/vpnclient/vpnclient start
ExecStop=/usr/local/vpnclient/vpnclient stop
Type=forking
Restart=always

[Install]
WantedBy=graphical.target
